.about .about-hero {
  background-image: url(../assets/Hero-section.png);
  background-position: center;
  background-size: cover;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.about .about-hero h2 {
  background-color: #fff;
  font-weight: 600px;
  font-size: 32px;
  padding: 30px;
  border-radius: 50px 50px 0 0;
}

.about .about-section-one {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 95px;
  margin-top: 80px;
  padding: 20px 100px;
}

.about .about-section-one p {
  width: 600px;
}

.about .about-section-one img {
  width: 400px;
  height: 300px;
}

/** SECTION TWO */
.about .about-section-two {
  margin-top: 30px;
  padding: 0 100px;
}

/** SECTION THREE */
.about .about-section-three {
  display: flex;
  align-items: center;
  gap: 95px;
  padding: 20px 100px;

  margin: 60px 0;
}

.about .about-section-three img {
  width: 400px;
  height: 400px;
}

.about .about-section-three .p-middle {
  margin: 20px 0;
}

/** SECTION FOUR */
.about .about-section-four {
  background-color: #e9effe;
  padding: 40px;
}

.about .about-section-four h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}

.about .about-section-four .section-four-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .about-section-four .section-four-team {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.about .about-section-four .section-four-team div img {
  width: 300px;
  border-radius: 8px 8px 0 0;
}

.about-section-four .section-four-team .section-four-text {
  background-color: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 0 0 8px 8px;
}

.about-section-four .section-four-team .section-four-text h3 {
  font-size: 20px;
  font-weight: 700px;
  margin: 10px 0 20px 0;
}

.about-section-four .section-four-team .section-four-text p,
.about-section-four .section-four-team .section-four-text span {
  font-size: 14px;
  font-weight: 300px;
}

/* ********************************************** */
/** media query */
@media all and (max-width: 950px) {
  .about .about-section-one {
    display: flex;
    flex-direction: column-reverse;
  }

  /**SECTION THREE */
  .about .about-section-three {
    display: flex;
    flex-direction: column;
  }

  /**SECTION FOUR */
  .about .about-section-four .section-four-team div img {
    width: 200px;
  }

  .about-section-four .section-four-team .section-four-text {
    width: 200px;
  }
}

@media all and (max-width: 800px) {
  /**SECTION ONE */
  .about .about-section-one {
    display: flex;
    flex-direction: column-reverse;
  }

  .about .about-section-one p {
    width: 100%;
  }

  .about .about-section-one img {
    width: 100%;
  }

  /**SECTION THREE */
  .about .about-section-three {
    display: flex;
    flex-direction: column;
  }

  /**SECTION FOUR */

  .about .about-section-four .section-four-team div img {
    width: 200px;
  }

  .about-section-four .section-four-team .section-four-text {
    width: 200px;
  }
}

@media all and (max-width: 768px) {
  /**SECTION FOUR */
  .about .about-section-four .section-four-team {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
  }

  .about .about-section-four .section-four-team div img {
    width: 100%;
  }

  .about-section-four .section-four-team .section-four-text {
    width: 100%;
  }
}
