.home .home-section-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}

.home .home-section-one h2 {
  color: #111111;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
}

.home .home-section-one a {
  padding: 10px 14px;
  font-weight: 700;
  color: #fff;
  background-color: var(--mainColor);
  border-radius: 6px;
}

.home .home-section-one img {
  width: 500px;
  height: 350px;
  border: 1px solid #3eb489;
}

/** SECTION TWO */
.home .home-section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 50px;
}

.home .home-section-two .partners h3 {
  text-align: center;
  margin-bottom: 34px;
  font-size: 30px;
}

.home .home-section-two .partners div {
  display: flex;
}

.home .home-section-two .partners p {
  margin: 0 10px;
  text-transform: uppercase;
  color: #6d6d6d;
  font-size: 30px;
}

/** SECTION THREE */
.home .home-section-three {
  max-width: 600px;
  height: 420px;
  margin: 100px auto;
  padding: 20px;
  /* border: 2px solid red; */
  background-color: #fff;
}

.home-section-three .courses {
  display: flex;
  gap: 20px;
}

.home-section-three .courses-text h3 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.home-section-three .courses-text p {
  margin-top: 10px;
  color: #727272;
}

.home-section-three .courses-img {
  position: relative;
}

.home-section-three .courses-circle {
  width: 250px;
  height: 250px;
  background-color: #3eb489;
  border-radius: 50%;
  margin-top: 40px;
}

.home-section-three .courses-img .image35 {
  position: absolute;
  top: 4px;
  left: 30px;
  z-index: 1;

  width: 250px;
  height: 250px;
}

.home-section-three .courses-img .image36 {
  position: absolute;
  top: 150px;
  right: 150px;

  width: 250px;
  height: 250px;
}

/**SECTION FOUR */
.home .home-section-four {
  background-color: #fffef4;
  padding: 40px;
}

.home .home-section-four h3 {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 50px;
}

.home-section-four .home-plans {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-bottom: 40px;
}

.home-section-four .home-plans .home-silver-plan,
.home-section-four .home-plans .home-gold-plan {
  text-align: center;
  width: 300px;
  height: 300px;
  background-color: #fafffd;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.home-section-four .home-plans .home-diamond-plan {
  text-align: center;
  width: 300px;
  height: 340px;
  background-color: #fafffd;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.home-section-four .home-plans .home-silver-plan h4,
.home-section-four .home-plans .home-gold-plan h4 {
  color: #fff;
  background-color: #3eb489;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.home-section-four .home-plans .home-diamond-plan h4 {
  color: #fff;
  background-color: #074d33;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.home-section-four .home-plans .home-silver-plan ul li,
.home-section-four .home-plans .home-gold-plan ul li {
  color: #727272;
  font-size: 18px;
  padding: 20px;
  border-top: 0.1px solid #a6a1a1;
}

.home-section-four .home-plans .home-diamond-plan ul li {
  color: #727272;
  font-size: 18px;
  padding: 25px;
  border-top: 0.1px solid #a6a1a1;
}

/**SECTION FIVE */

.home .home-section-five h3 {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin-top: 50px;
}

.home .home-section-five span {
  color: #3eb489;
}

.home .home-section-five .home-timelines {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.home-section-five .home-timeline-one .timeline-one-upper,
.home-section-five .home-timeline-one .timeline-one-lower,
.home-section-five .home-timeline-two .timeline-two-upper,
.home-section-five .home-timeline-two .timeline-two-lower {
  display: flex;
  gap: 20px;
  margin: 40px 0;
  padding: 10px;
}

.home-section-five .home-timeline-one .timeline-one-upper img,
.home-section-five .home-timeline-one .timeline-one-lower img,
.home-section-five .home-timeline-two .timeline-two-upper img,
.home-section-five .home-timeline-two .timeline-two-lower img {
  width: 200px;
  height: 200px;
}

.home-section-five .home-timeline-one .timeline-one-upper h5,
.home-section-five .home-timeline-one .timeline-one-lower h5,
.home-section-five .home-timeline-two .timeline-two-upper h5,
.home-section-five .home-timeline-two .timeline-two-lower h5 {
  margin: 8px 0;
  font-size: 20px;
}

.home-section-five .home-timeline-one .timeline-one-upper p,
.home-section-five .home-timeline-one .timeline-one-lower p,
.home-section-five .home-timeline-two .timeline-two-upper p,
.home-section-five .home-timeline-two .timeline-two-lower p {
  color: #727272;
  font-size: 16px;
}

/** SECTION SIX */
.home .home-section-six {
  background-color: #fffef4;
}

.home .home-section-six .section-six-testimonial {
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
  padding: 20px;
  /* border: 2px solid red; */
}

.home-section-six .section-six-testimonial h3 {
  font-size: 34px;
  font-weight: 700;
  margin: 30px 0;
}

.home-section-six .section-six-testimonial p {
  color: #727272;
  font-size: 18px;
  margin-bottom: 30px;
}

.home-section-six .section-six-testimonial img {
  width: 500px;
  height: 300px;
  border: 1px solid yellowgreen;
  margin-bottom: 40px;
}

/** SECTION SEVEN */
.home .home-section-seven h3 {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
}
.home .home-section-seven .section-seven-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #e9effe;
}

.home .home-section-seven .section-seven-product h4 {
  margin: 20px 0 30px 0;
  font-size: 30px;
  font-weight: 700;
}

.home .home-section-seven .section-seven-product a {
  padding: 10px 14px;
  font-weight: 700;
  color: #fff;
  background-color: var(--mainColor);
  border-radius: 6px;
}

.home .home-section-seven .section-seven-product img {
  width: 250px;
  height: 250px;
}

/** SECTION EIGHT */
.home .home-section-eight {
  background-color: #f9f9f9;
  padding: 20px;
}

.home .home-section-eight .section-eight-contact {
  max-width: 650px;
  margin: 20px auto;
}

.home .home-section-eight .section-eight-contact h3 {
  font-size: 34px;
  margin-bottom: 30px;
}

.home .home-section-eight .section-eight-contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff8b9;
  padding: 20px;
}

.home .home-section-eight .section-eight-contact-info .eight-contact-text h4 {
  font-size: 26px;
  font-weight: 700;
  color: #3eb489;
  margin-bottom: 20px;
}

.home .home-section-eight .section-eight-contact-info .eight-contact-text span {
  color: #3eb489;
  font-weight: 700;
}

.home .home-section-eight .eight-contact-img {
  text-align: center;
  margin-top: 20px;
}

.home .home-section-eight .eight-contact-img img {
  width: 150px;
  height: 150px;
}

.home .home-section-eight .section-eight-contact-info form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
}

.home .home-section-eight .section-eight-contact-info form input {
  padding: 10px;
  border: 1px solid #a6a1a1;
  outline: none;
  border-radius: 4px;
}

.home .home-section-eight .section-eight-contact-info form textarea {
  border: 1px solid #a6a1a1;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  resize: none;
}

.home .home-section-eight .section-eight-contact-info form button {
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #111111;
  border: none;
  outline: none;
}

/** Media Query */
@media all and (max-width: 320px) {
  .home .home-section-one h2 {
    font-size: 20px;
  }

  /* .home .home-section-seven .home-section-seven-heading {
    text-align: center;
    font-size: 30px;
  } */
}

@media all and (max-width: 650px) {
  /** SECTION ONE */
  .home .home-section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home .home-section-one h2 {
    font-size: 30px;
  }

  .home .home-section-one a {
    display: none;
  }

  .home .home-section-one img {
    margin-top: 40px;
    width: 300px;
    height: 200px;
  }

  /** SECTION TWO */
  .home .home-section-two .partners div {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  /** SECTION THREE */
  .home-section-three .courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .home-section-three .courses-text h3 {
    font-size: 24px;
  }

  .home-section-three .courses-img {
    margin-left: 30px;
  }

  .home-section-three .courses-circle {
    width: 200px;
    height: 200px;
  }

  .home-section-three .courses-img .image35 {
    position: absolute;
    top: 4px;
    left: 50px;
    z-index: 1;

    width: 180px;
    height: 180px;
  }

  .home-section-three .courses-img .image36 {
    position: absolute;
    top: 100px;
    right: 80px;

    width: 180px;
    height: 180px;
  }

  /** SECTION FOUR */
  .home .home-section-four h3 {
    font-size: 24px;
  }

  .home-section-four .home-plans {
    display: flex;
    flex-direction: column;
  }

  /** SECTION FIVE */
  .home .home-section-five h3 {
    font-size: 24px;
  }

  .home .home-section-five .home-timelines {
    display: flex;
    flex-direction: column;
  }

  .home-section-five .home-timeline-one .timeline-one-upper,
  .home-section-five .home-timeline-one .timeline-one-lower,
  .home-section-five .home-timeline-two .timeline-two-upper,
  .home-section-five .home-timeline-two .timeline-two-lower {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /** SECTION six */
  .home-section-six .section-six-testimonial h3 {
    font-size: 24px;
  }

  .home-section-six .section-six-testimonial img {
    width: 250px;
    height: 200px;
  }

  /** SECTION SEVEN */
  .home .home-section-seven h3 {
    font-size: 24px;
  }

  .home .home-section-seven .section-seven-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home .home-section-seven .section-seven-product h4 {
    font-size: 24px;
  }

  .home .home-section-seven .section-seven-product img {
    margin-top: 30px;
  }

  /** SECTION EIGHT */
  .home .home-section-eight .section-eight-contact h3 {
    font-size: 24px;
    text-align: center;
  }
  .home .home-section-eight .section-eight-contact-info {
    display: flex;
    flex-direction: column;
  }

  .home .home-section-eight .section-eight-contact-info form {
    width: 100%;
  }
}

@media all and (max-width: 800px) {
  .home .home-section-one img {
    width: 250px;
    height: 200px;
  }

  .home .home-section-one h2 {
    font-size: 24px;
  }
}
