.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.nav .nav-logo {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.nav .nav-logo a {
  color: var(--mainColor);
}

.nav .nav-links {
  flex: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid yellow; */
}

.nav .nav-links ul {
  display: flex;
  gap: 50px;
}

.nav .nav-links ul li {
  margin: 0 20px;
}

.nav .nav-links li a {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.nav .nav-links li a.active {
  color: var(--mainColor);
}

.nav .nav-log-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0 20px;
  /* border: 2px solid red; */
}

.nav .nav-menu {
  display: none;
  font-size: 30px;
  color: var(--mainColor);
}

/** Media query */

@media all and (max-width: 800px) {
  .nav .nav-links {
    display: none;
  }

  #nav-view {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    /* border: 1px solid black; */

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
  }

  #nav-view ul {
    display: flex;
    flex-direction: column;
  }

  .nav .nav-menu {
    display: block;
  }
}

@media all and (max-width: 960px) {
  .nav .nav-links {
    display: none;
  }

  #nav-view {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    /* border: 1px solid black; */

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
  }

  #nav-view ul {
    display: flex;
    flex-direction: column;
  }

  .nav .nav-menu {
    display: block;
  }
}
